.wrapper
 .frame
  .inner
 - (1..2).each do
  .wheel
   .inner
   .cover
 .stem
  - (1..2).each do
   .light
    .fin
 .chain
  .gear
  - (1..2).each do
   .crank
 .horn
 .bag
 .seat
 - (1..2).each do
  .handlebars
   - (1..2).each do
    .streamers
 


